{{- $p := .profile_example -}}
{{- if eq .chezmoi.os "android" -}}{{- $p = .profile_termux_example -}}{{- end -}}
{{- if index . "profile" -}}
{{-   if eq .chezmoi.os "android" -}}{{- $p = mergeOverwrite $p .profile -}}
{{-   else -}}{{- $p = .profile -}}
{{-   end -}}
{{- end -}}
{{- if env "CHEZMOI_CI" -}}{{- $p = .profile_ci -}}{{- end -}}
{{- if index . "profile_host" -}}{{- $p = mergeOverwrite $p .profile_host -}}{{- end -}}
{{- if eq .chezmoi.os "android" -}}
{{- $p = mergeOverwrite $p (dict "features" (mergeOverwrite $p.features .profile_termux_example.features)) -}}
{{- end -}}
{{- $f := $p.features -}}
system/

{{- if not (index $f "desktop_i3") }}
dot_config/i3/**
dot_config/i3status/**
{{- end }}
{{- if not (index $f "desktop_sway") }}
dot_config/sway/**
dot_config/swaylock/**
dot_config/kanshi/**
dot_config/environment.d/wayland.conf
dot_local/bin/executable_sway-wallpaper
dot_local/bin/executable_displays-resume
dot_local/share/applications/cursor.desktop
{{- end }}
{{- if not (index $f "kanshi") }}
dot_config/kanshi/**
{{- end }}
{{- if not (index $f "picom") }}
dot_config/picom.conf
{{- end }}
{{- if not (index $f "kitty") }}
dot_config/kitty/**
{{- end }}
{{- if not (index $f "autorandr") }}
dot_config/autorandr/**
dot_screenlayout/**
{{- end }}
{{- if not (index $f "nitrogen") }}
dot_wallpapers/**
{{- end }}
{{- if not (index $f "x11_session") }}
dot_xinitrc
dot_xsessionrc
dot_Xmodmap
dot_Xresources
{{- end }}
{{- if not (index $f "neovim") }}
dot_config/nvim/**
{{- end }}
{{- if not (index $f "fzf") }}
dot_fzf.zsh.tmpl
{{- end }}
