{{- $p := .profile_example -}}
{{- if eq .chezmoi.os "android" -}}{{- $p = .profile_termux_example -}}{{- end -}}
{{- if index . "profile" -}}
{{-   if eq .chezmoi.os "android" -}}{{- $p = mergeOverwrite $p .profile -}}
{{-   else -}}{{- $p = .profile -}}
{{-   end -}}
{{- end -}}
{{- if env "CHEZMOI_CI" -}}{{- $p = .profile_ci -}}{{- end -}}
{{- if index . "profile_host" -}}{{- $p = mergeOverwrite $p .profile_host -}}{{- end -}}
{{- if eq .chezmoi.os "android" -}}
{{- $p = mergeOverwrite $p (dict "features" (mergeOverwrite $p.features .profile_termux_example.features)) -}}
{{- end -}}
{{- $f := $p.features -}}
system/

{{- if not (index $f "desktop_sway") }}
dot_config/sway/**
dot_config/swaylock/**
dot_config/kanshi/**
dot_config/environment.d/wayland.conf
dot_local/bin/executable_sway-wallpaper
dot_local/bin/executable_rofi-emoji
dot_local/bin/executable_bemenu-drun
dot_local/bin/executable_displays-resume
dot_local/bin/executable_suspend
{{- end }}
{{- if not (index $f "kanshi") }}
dot_config/kanshi/**
{{- end }}
{{- if not (index $f "kitty") }}
dot_config/kitty/**
{{- end }}
{{- if not (index $f "neovim") }}
dot_config/nvim/**
{{- end }}
{{- if not (index $f "fzf") }}
dot_fzf.zsh.tmpl
{{- end }}
{{- if not (index $f "gpg_signing") }}
dot_gnupg/**
{{- end }}
