{{- if env "CHEZMOI_CI" -}}
[data]
    git_gpg_key = ""
{{- else -}}
{{-   $gitGpgKey := promptStringOnce . "git_gpg_key" "GPG key ID for git signing (leave empty to skip)" "" -}}
[data]
    git_gpg_key = {{ $gitGpgKey | quote }}
{{- end }}

[edit]
    command = "nvim"
