{{- $p := includeTemplate "profile.tpl" . | fromYaml -}}
{{- $identity := index $p "identity" | default dict -}}
{{- $secrets := index $p "secrets" | default dict -}}
export GIT_GPG_KEY="{{ index $secrets "git_gpg_key" | default "" }}"
export GIT_EMAIL="{{ index $identity "git_email" | default "" }}"
export GIT_SSH_KEY="{{ index $identity "git_ssh_key" | default "" }}"
