{{- $p := .profile_example -}}
{{- if eq .chezmoi.os "android" -}}{{- $p = .profile_termux_example -}}{{- end -}}
{{- if index . "profile" -}}
{{-   if eq .chezmoi.os "android" -}}{{- $p = mergeOverwrite $p .profile -}}
{{-   else -}}{{- $p = .profile -}}
{{-   end -}}
{{- end -}}
{{- if env "CHEZMOI_CI" -}}{{- $p = .profile_ci -}}{{- end -}}
{{- if index . "profile_host" -}}{{- $p = mergeOverwrite $p .profile_host -}}{{- end -}}
{{- if eq .chezmoi.os "android" -}}
{{- $p = mergeOverwrite $p (dict "features" (mergeOverwrite $p.features .profile_termux_example.features)) -}}
{{- end -}}
{{- $f := $p.features -}}
alias dc=false
alias firefox=false
alias p=false
alias p=false
alias gs=false
alias gm=false
alias vi=false
alias help=false
alias fzm=false
alias craftenv="source ~/CraftRoot/craft/craftenv.sh"
alias help=run-help
alias expowebcam="webcam exposure"
alias log=false
alias cz="$HOME/.zplug/repos/vantaboard/commitizen-deno/commitizen-deno --"
{{- if index $f "xclip" }}
alias cpdf="xclip -selection clipboard -target application/pdf"
alias cpng="xclip -selection clipboard -target image/png"
{{- end }}
{{- if index $f "neovim" }}
alias vi=nvim
{{- end }}
{{- if index $f "trash_cli" }}
alias rm=trash-put
{{- end }}
alias python=python3
{{- if index $f "autorandr" }}
alias autorandr="$HOME/Code/autorandr-env/.venv/bin/autorandr"
{{- end }}
