{{- $p := includeTemplate "profile.tpl" . | fromYaml -}}
{{- $f := $p.features -}}
alias dc=false
alias firefox=false
alias p=false
alias p=false
alias gs=false
alias gm=false
alias vi=false
alias help=false
alias fzm=false
alias craftenv="source ~/CraftRoot/craft/craftenv.sh"
alias help=run-help
alias expowebcam="webcam exposure"
alias log=false
alias cz="$HOME/.zplug/repos/vantaboard/commitizen-deno/commitizen-deno --"
{{- if index $f "wl_clipboard" }}
alias cpdf="wl-copy -t application/pdf"
alias cpng="wl-copy -t image/png"
{{- end }}
{{- if index $f "neovim" }}
alias vi=nvim
{{- end }}
{{- if index $f "trash_cli" }}
alias rm=trash-put
{{- end }}
alias python=python3
