{
    "$schema": "https://raw.githubusercontent.com/sumneko/vscode-lua/master/setting/schema.json",
    "Lua.workspace.library": [
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/neodev.nvim/types/nightly",
        "/usr/share/nvim/runtime",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/AutoSave.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/LuaSnip",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/apprentice.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/aurora",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/blue-moon",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/boo-colorscheme-nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/bufdelete.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/bufferline.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/calvera-dark.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/cmp-buffer",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/cmp-git",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/cmp-nvim-lsp",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/codeschool.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/copilot.vim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/doom-one.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/dracula.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/edge",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/everforest",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/feline.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/github-nvim-theme",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/gitsigns.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/gruvbox-baby",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/gruvbox-material",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/gruvy",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/harpoon",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/instant.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/kosmikoa.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/lighthaus.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/lush.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/material.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/modus-theme-vim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/monochrome.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/monokai.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/moonlight.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/neodev.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/neovim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nord.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nordic.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/null-ls.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/numb.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-cmp",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-colorizer.lua",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-deus",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-gps",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-hybrid",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-lsp-ts-utils",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-lspconfig",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-papadark",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-rdark",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-solarized-lua",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-spectre",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-tree.lua",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-treesitter",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-treesitter-textsubjects",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-ts-autotag",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/nvim-web-devicons",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/omni.vim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/one_monokai.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/onedark.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/onedarkpro.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/onenord.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/packer.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/plenary.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/presence.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/roshnivim-cs",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/stabilize.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/startup.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/telescope-ag",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/telescope-fzf-native.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/telescope-ui-select.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/telescope.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/texmagic.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/tokyonight.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/vn-night.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/zenburn.nvim",
        "{{ .chezmoi.homeDir }}/.local/share/nvim/site/pack/packer/start/zephyrium",
        "${3rd}/luassert/library",
        "${3rd}/luv/library"
    ],
    "diagnostics.globals": [
        "require"
    ]
}
