{
    "layer": "top",
    "position": "bottom",
    "height": 26,
    "spacing": 4,
    "modules-left": [
        "sway/workspaces",
        "sway/mode"
    ],
    "modules-right": [
        "sway/language",
        "custom/py3status",
        "tray"
    ],
    "sway/workspaces": {
        "disable-scroll": true,
        "warp-on-scroll": false
    },
    "sway/mode": {
        "format": "{}",
        "tooltip": false
    },
    "sway/language": {
        "format": "{}",
        "min-length": 2
    },
    "custom/py3status": {
        "interval": 5,
        "format": "{}",
        "exec": "{{ .chezmoi.homeDir }}/.local/bin/waybar-py3status-snapshot"
    },
    "tray": {
        "icon-size": 18,
        "spacing": 8
    }
}
