[Desktop Entry]
Name=Cursor - URL Handler
Comment=The AI Code Editor.
GenericName=Text Editor
Exec={{ .chezmoi.homeDir }}/.local/bin/cursor --open-url %U
TryExec={{ .chezmoi.homeDir }}/.local/bin/cursor
Icon=cursor
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/cursor;
Keywords=cursor;
