[Desktop Entry]
Type=Application
Name=Cursor
Comment=AI code editor
Exec={{ .chezmoi.homeDir }}/.local/bin/cursor %F
TryExec={{ .chezmoi.homeDir }}/.local/bin/cursor
Icon=cursor
Terminal=false
StartupNotify=true
StartupWMClass=Cursor
Categories=Development;IDE;
MimeType=text/plain;inode/directory;
