{{ if eq .chezmoi.os "linux" -}}
{{- $p := includeTemplate "profile.tpl" . | fromYaml -}}
{{- $f := $p.features -}}
{{- if index $f "freecad" -}}
[Desktop Entry]
Version=1.0
Type=Application
Name=FreeCAD
GenericName=CAD Application
Comment=Feature-based 3D CAD modeler
Exec={{ .chezmoi.homeDir }}/.local/bin/freecad %F
TryExec={{ .chezmoi.homeDir }}/.local/bin/freecad
Icon=freecad
Terminal=false
StartupNotify=true
StartupWMClass=FreeCAD
Categories=Graphics;Science;Engineering;Education;
MimeType=application/x-extension-fcstd;model/vnd.collada+xml;application/sla;
Keywords=cad;3d;modeling;parametric;
{{- end -}}
{{ end -}}
