[Desktop Entry]
Type=Application
Name=Pick Color
Comment=Pick a color from the screen and copy it to the clipboard
Exec={{ .chezmoi.homeDir }}/.local/bin/hyprpicker -q -a
TryExec={{ .chezmoi.homeDir }}/.local/bin/hyprpicker
Icon=color-picker
Terminal=false
Categories=Utility;
