# Pointer acceleration overrides (X11/i3 via libinput; Sway uses input-devices.conf).
{{- $p := .profile_example -}}
{{- if index . "profile" -}}{{- $p = .profile -}}{{- end -}}
{{- if env "CHEZMOI_CI" -}}{{- $p = .profile_ci -}}{{- end -}}
{{- if index . "profile_host" -}}{{- $p = mergeOverwrite $p .profile_host -}}{{- end -}}
{{- $inputDevices := index $p "input_devices" | default dict -}}
{{- $pointers := index $inputDevices "pointers" | default list -}}
{{- range $i, $ptr := $pointers }}
[chezmoi-pointer-{{ $i }}]
MatchName={{ $ptr.match }}
MatchUdevType=mouse
AttrAccelSpeed={{ $ptr.pointer_accel }}

{{- end }}
