{
  "window.autoDetectColorScheme": false,
  "workbench.preferredLightColorTheme": "Adey Coder - Deep Dark",
  "editor.fontFamily": "'FixedsysExcelsior Nerd Font Mono', 'FiraMono Nerd Font Mono', monospace",
  "terminal.integrated.fontFamily": "'FixedsysExcelsior Nerd Font Mono', 'FiraMono Nerd Font Mono', monospace",
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
  },
  "editor.rulers": [
    { "column": 80, "color": "#ff000033" },
    { "column": 120, "color": "#00ff0033" },
  ],
  "terminal.integrated.enableKittyKeyboardProtocol": false,
  "exp-vscode-go.testExplorer.enable": true,
  "update.releaseTrack": "dev",
  "clangd.path": "${userHome}/.config/Cursor/User/globalStorage/llvm-vs-code-extensions.vscode-clangd/install/22.1.0/clangd_22.1.0/bin/clangd",
  "go.toolsManagement.autoUpdate": true,
  "terminal.integrated.fontLigatures.enabled": true,
  "vscode_vibrancy.type": "acrylic",
  "vscode_vibrancy.opacity": 0.92,
  "vscode_vibrancy.imports": [
    "{{ .chezmoi.homeDir }}/.config/cursor/vibrancy.css"
  ],
  "workbench.preferredDarkColorTheme": "Adey Coder - Deep Dark",
  "workbench.colorTheme": "Adey Coder - Deep Dark",
  "workbench.colorCustomizations": {
    "terminal.background": "#00000000",
    "editorPane.background": "#1e1e1e00",
    "editorGroupHeader.tabsBackground": "#1e1e1e00",
    "editorGroupHeader.noTabsBackground": "#1e1e1e00",
    "breadcrumb.background": "#1e1e1e00",
    "editorGutter.background": "#1e1e1e00",
    "panel.background": "#1e1e1e00",
    "panelStickyScroll.background": "#1e1e1e00",
    "tab.activeBackground": "#1e1e1e00",
    "tab.unfocusedActiveBackground": "#1e1e1e00",
    "sideBar.background": "#1e1e1eeb",
    "sideBarTitle.background": "#1e1e1eeb",
    "sideBarStickyScroll.background": "#1e1e1eeb",
    "activityBar.background": "#1e1e1eeb",
    "editor.background": "#1e1e1eeb",
    "editorStickyScroll.background": "#1e1e1eeb",
    "editorStickyScrollGutter.background": "#1e1e1eeb",
    "tab.inactiveBackground": "#1e1e1eeb",
    "tab.unfocusedInactiveBackground": "#1e1e1eeb",
    "inlineChat.background": "#1e1e1ee6",
    "editorWidget.background": "#1e1e1ee6",
    "editorHoverWidget.background": "#1e1e1ee6",
    "editorSuggestWidget.background": "#1e1e1ee6",
    "notifications.background": "#1e1e1ee6",
    "notificationCenterHeader.background": "#1e1e1ee6",
    "menu.background": "#1e1e1ee6",
    "quickInput.background": "#1e1e1ee6",
    "window.activeBorder": "#00000000",
    "window.inactiveBorder": "#00000000"
  },
  "terminal.integrated.gpuAcceleration": "on",
  "window.controlsStyle": "custom",
  "yaml.disableSchemaDetection": [
    "**/.github/workflows/*.yml",
    "**/.github/workflows/*.yaml",
    "**/.gitea/workflows/*.yml",
    "**/.gitea/workflows/*.yaml",
    "**/.forgejo/workflows/*.yml",
    "**/.forgejo/workflows/*.yaml"
  ],
  "terminal.integrated.fontLigatures.enabled": true,
  "terminal.integrated.fontLigatures.featureSettings": "\"calt\" on, \"liga\" on, \"ss03\"",
  "terminal.integrated.enableImages": true
}
