[Unit]
Description=Re-apply sway display layout after resume
DefaultDependencies=no
Before=sleep.target
After=nvidia-resume.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop={{ .chezmoi.homeDir }}/.local/bin/displays-resume
TimeoutStopSec=5

[Install]
WantedBy=sleep.target
