{{- $p := includeTemplate "profile.tpl" . | fromYaml -}}
{{- $displays := index $p "displays" | default dict -}}
{{- $laptop := index $displays "laptop" | default dict -}}
{{- $devices := index $displays "devices" | default dict -}}
{{- $layouts := index $displays "layouts" | default list -}}
{{ dict "laptop" $laptop "devices" $devices "layouts" $layouts | toPrettyJson }}
